body {
  background-color: #F3D332;
}

.scene {
  display: flex;
  justify-content: space-around;
  background-color: #3B6AA0;
  height: 90vh;
  overflow: hidden;
  border-radius: 10%;
}

.flag {
  width: 5em;
  margin-top: 2em;
}

.center {
  width: 20%;
  margin-top: 10em;
}

.face {
  padding: 2em;
  padding-bottom: 0;
  margin-bottom: -1em;
}

.face img {
  width: 100%;
}

.podium {
  margin-top: -1em;
}

.drop {
  width: 10px;
}

.drop-zone{
  margin-top: 4em;
}

.shower {
  width: 14em;
  position: absolute;
  top: 0;
  margin-left: -7em;
  left: 50%;
}

.stage {
  background-color: #273058;
  height: 8em;
  width: 100em;
  margin-left: -50em;
  margin-top: -1em;
  border-radius: 0 0 10% 10%;
}
