body {
  background-color: #7a7d84;
}

.scene {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.center {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-top: 10em;
  width: 25em;
}

.flag {
  position: absolute;
  min-width: 15em;
  margin-top: 2em;
  z-index: -1;
}

.flag.one {
  left: 2em;

}

.flag.two {
  right: 2em;
}

.donald {
  width: 25em;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.face {
  margin-right: 33%;
}

.face img {
  width: 8em;
  position: absolute;
}

.torso {
  margin-top: 9em;
}

.podium {
  margin-top: -1em;
}

.drop {
  width: 10px;
}

.drop-zone{
  margin-top: 4em;
}

.shower {
  width: 14em;
  position: absolute;
  top: 0;
  margin-left: -7em;
  left: 50%;
}

.stage {
  background-color: #273058;
  position: fixed;
  width: 100%;
  height: 5em;
  bottom: 0;
  z-index: -1;
}
