body {
  background-color: #7a7d84;
}

/*.hidden-grey-bar {
  background-color: #7a7d84;
  position: absolute;
  top: 0;
  z-index: -2;
  height: 5em;
  width: 100%;
}*/

.scene {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.flag {
  position: absolute;
  min-width: 15em;
  margin-top: 2em;
  z-index: -1;
}

.flag.one {
  left: 2em;

}

.flag.two {
  right: 2em;
}

.center {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 25em;
  z-index: 2;
}

.donald {
  width: 25em;
  justify-content: center;
  text-align: center;
}

.face {
  margin-right: 50%;
}

.face img {
  width: 12em;
  position: absolute;
}

.torso {
  margin-top: 11em;
}

.podium {
  margin-top: -1em;
}

.drop {
  width: 10px;
  position: absolute;
  z-index: -1;
}

.drop-zone{
  margin-top: 4em;
}

.shower {
  width: 14em;
  position: absolute;
  top: 0;
  margin-left: -7em;
  left: 50%;
  z-index: 2;
}

.stage {
  background-color: rgb(21,27,57);
  position: fixed;
  height: 4em;
  bottom: 1em;
  right: 1em;
  left: 1em;
  padding: 1em;
  border: 0.2px solid #761F26;
  outline: 1em solid rgb(21,27,57);
}

.twitter-share-button {
  float: right;
}
